<template>
  <v-container color="deep-purple accent-4">
    <div class="main-div shadow mt-5">
      <h1>Total Number of Regisrer Cars</h1>
      <h1 color="blue">{{ this.registerCars }}</h1>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      registerCars: 1080,
    };
  },
};
</script>

<style scoped>
.main-div {
  padding: 15px;
  background: var(--vs-theme-layout);
  border-radius: 20px;
  margin-top: 10rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
</style>
