<template>
  <v-container>
    <router-link class="nav-link" to="/SignIn">Login</router-link>

    <div class="main-div shadow mt-5">
      <v-text-field v-model="email" label="Email" required></v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show ? 'text' : 'password'"
        label="Password"
        counter
        @click:append="show = !show"
      ></v-text-field>
      <v-btn class="mr-4" color="secondary" type="submit" @click="submit()">
        submit
      </v-btn>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      email: "",
      password: "",
      show: false,
    };
  },
  methods: {
    submit() {
      console.log("Name");
      let data = {
        email: this.email,
        password: this.password,
      };
      axios
        .post("https://reqres.in/api/login", data)
        .then((response) => {
          console.log(response.data.token);
          this.token = response.data.token;
          this.$store.commit("login", this.token);
          this.$router.push({
            name: "dashboard",
            query: { redirect: "/dashboard" },
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style scoped>
.main-div {
  padding: 15px;
  background: var(--vs-theme-layout);
  border-radius: 20px;
  margin-top: 10rem !important;
  width: 500px;
  margin: auto;
}
.router-link-active {
  display: none;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
</style>
