<template>
  <v-container>
    <div class="main-div shadow mt-5">
      <v-text-field v-model="email" label="Email" required></v-text-field>
      <v-text-field v-model="password" label="passwoed" required></v-text-field>
      <v-btn class="mr-4" color="secondary" type="submit" @click="submit()">
        submit
      </v-btn>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    submit() {
      console.log("Name");
      let data = {
        email: this.email,
        password: this.password,
      };
      axios
        .post("https://reqres.in/api/login", data)
        .then((response) => {
          console.log(response);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // login() {
    //   console.log("Name");
    //   localStorage.getItem("name", this.name);
    //   localStorage.getItem("email", this.email);
    //   localStorage.getItem("password", this.password);

    //   if (localStorage.getItem("name") === this.name && localStorage.getItem("password") === this.password ) {

    //     swal({
    //       title: "Login Successfuly",
    //       icon: "info",
    //       buttons: true,
    //       dangerMode: false,
    //     });
    //   }
    //   else {
    //     swal({
    //       title: "Login Failed",
    //       icon: "error",
    //       buttons: true,
    //       dangerMode: true,
    //     });
    //   }
    // },
  },
};
</script>

<style scoped>
.main-div {
  padding: 15px;
  background: var(--vs-theme-layout);
  border-radius: 20px;
  margin-top: 10rem !important;
  width: 500px;
  margin: auto;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
</style>
