<template>
  <v-container>
    <div class="main-div shadow mt-5">
      <div class="row">
        <div class="col-lg-6">
          <v-select
            :items="years"
            item-text="year"
            label="Year"
            v-model="selectedYear"
            outlined
          ></v-select>
        </div>
        <div class="col-lg-6">
          <v-select
            :items="makes"
            item-text="make"
            label="Make"
            v-model="selectedMake"
            outlined
          ></v-select>
        </div>
        <div class="col-lg-6">
          <v-select
            :items="models"
            item-text="model"
            label="Model"
            v-model="selectedModel"
            outlined
          ></v-select>
        </div>
        <div class="col-lg-6">
          <v-select
            :items="colors"
            item-text="name"
            label="Color"
            v-model="selectedColor"
            outlined
          ></v-select>
        </div>
        <v-btn
          color="primary"
          v-if="add"
          class="ml-5 mb-5"
          @click="addVehicleMakeModel"
        >
          Add
        </v-btn>
        <v-btn
          color="primary"
          v-if="edit"
          class="ml-5"
          @click="updateVehicleMakeModel"
        >
          Update
        </v-btn>
      </div>
      <div>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-data-table
          :headers="headers"
          :items="vehicleYearMakeModel"
          class="mt-5"
          :search="search"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>{{ item.year }}</td>
              <td>{{ item.make }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.color }}</td>
              <td>
                <v-btn
                  color="primary"
                  @click="
                    getEditId(
                      item.id,
                      item.year,
                      item.make,
                      item.model,
                      item.color
                    )
                  "
                >
                  Edit
                </v-btn>
                <v-btn
                  color="error"
                  class="ml-5"
                  @click="deleteVehicleMakeModel(item.id)"
                >
                  Delete
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      years: [],
      makes: [],
      models: [],
      colors: [],
      selectedYear: "",
      selectedMake: "",
      selectedModel: "",
      selectedColor: "",
      headers: [
        {
          text: "Year",
          value: "year",
        },
        {
          text: "Make",
          value: "make",
        },
        {
          text: "Model",
          value: "model",
        },
        {
          text: "Color",
          value: "color",
        },
        {
          text: "Action",
          value: "",
        },
      ],
      search: "",
      edit: false,
      add: true,
      yearmakeModeId: "",
      vehicleYearMakeModel: [],
    };
  },
  methods: {
    getAllYears() {
      axios
        .get("http://localhost:3000/years")
        .then((response) => {
          console.log(response);
          this.years = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getAllMakes() {
      axios
        .get("http://localhost:3000/makes")
        .then((response) => {
          console.log(response);
          this.makes = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getAllModels() {
      axios
        .get("http://localhost:3000/models")
        .then((response) => {
          console.log(response);
          this.models = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getAllColors() {
      axios
        .get("http://localhost:3000/colors")
        .then((response) => {
          console.log(response);
          this.colors = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getVehicleYearMakeModel() {
      axios
        .get("http://localhost:3000/vehicleYearMakeModel")
        .then((response) => {
          console.log(response);
          this.vehicleYearMakeModel = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    addVehicleMakeModel() {
      let data = {
        year: this.selectedYear,
        make: this.selectedMake,
        model: this.selectedModel,
        color: this.selectedColor,
      };
      axios
        .post("http://localhost:3000/vehicleYearMakeModel", data)
        .then((response) => {
          console.log(response);
          this.getVehicleYearMakeModel();
        })
        .catch((err) => {
          console.log(err);
        });
    },

    getEditId(id, year, make, model, color) {
      console.log(model);
      (this.yearmakeModeId = id), (this.edit = true);
      this.add = false;
      (this.selectedYear = year),
        (this.selectedMake = make),
        (this.selectedModel = model),
        (this.selectedColor = color);
    },
    updateVehicleMakeModel() {
      let data = {
        year: this.selectedYear,
        make: this.selectedMake,
        model: this.selectedModel,
        color: this.selectedColor,
      };
      axios
        .put(
          "http://localhost:3000/vehicleYearMakeModel/" + this.yearmakeModeId,
          data
        )
        .then((response) => {
          console.log(response);
          this.getVehicleYearMakeModel();
          this.edit = false;
          this.add = true;
          (this.selectedYear = ""),
            (this.selectedMake = ""),
            (this.selectedModel = ""),
            (this.selectedColor = "");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteVehicleMakeModel(id) {
      axios
        .delete("http://localhost:3000/vehicleYearMakeModel/" + id)
        .then((response) => {
          console.log(response);
          this.getVehicleYearMakeModel();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    this.getAllYears();
    this.getAllMakes();
    this.getAllModels();
    this.getAllColors();
    this.getVehicleYearMakeModel();
  },
};
</script>

<style scoped>
.main-div {
  padding: 15px;
  background: var(--vs-theme-layout);
  border-radius: 20px;
  margin-top: 10rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
</style>
