<template>
  <v-container>
    <div class="main-div shadow mt-5">
      <v-snackbar
        v-model="snackbar"
        absolute
        top
        right
        color="deep-purple accent-4"
        elevation="24"
      >
        Vehicle Type is required
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <div class="d-flex align-items-center mt-5">
        <v-text-field
          v-model="vehicleTypeName"
          label="vehicle Type Name"
          dense
          outlined
          hide-details
          required
          :rules="nameRules"
        ></v-text-field>

        <v-btn color="primary" class="ml-5" @click="addVehicleType">
          Add
        </v-btn>
      </div>
      <div class="d-flex align-items-center mt-5">
        <v-text-field
          v-model="vehicleTypeNameEdit"
          label="vehicle Type Name"
          dense
          outlined
          hide-details
          required
          v-if="edit"
        ></v-text-field>
        <v-btn
          color="primary"
          v-if="edit"
          class="ml-5"
          @click="updateVehicleType"
        >
          Update
        </v-btn>
      </div>
      <v-data-table
        :headers="headers"
        :items="vehicleType"
        class="mt-5"
        :search="search"
      >
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <v-btn color="primary" @click="getIdAndName(item.id, item.name)">
                Edit
              </v-btn>
              <v-btn
                color="error"
                class="ml-5"
                @click="deleteVehicleType(item.id)"
              >
                Delete
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      search: "",
      snackbar: false,
      vehicleTypeName: "",
      vehicleType: [],
      errors: [],
      headers: [
        {
          text: "Sr.No",
          value: "id",
        },
        {
          text: "Name",
          value: "name",
        },
        {
          text: "Action",
          value: "",
        },
      ],

      edit: false,
      add: true,
      vehicleTypeId: "",
    };
  },
  methods: {
    getAllVehicleType() {
      axios
        .get("http://localhost:3000/VehicleTypes")
        .then((response) => {
          console.log(response);
          this.vehicleType = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    addVehicleType() {
      let data = {
        name: this.vehicleTypeName,
      };
      if (this.vehicleTypeName === "") {
        this.snackbar = true;
      } else {
        axios
          .post("http://localhost:3000/VehicleTypes", data)
          .then((response) => {
            console.log(response);
            this.getAllVehicleType();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    getIdAndName(id, name) {
      console.log(id);
      console.log(name);
      this.vehicleTypeId = id;
      this.vehicleTypeNameEdit = name;
      this.edit = true;
      this.add = false;
    },
    updateVehicleType() {
      this.edit = false;
      let data = {
        name: this.vehicleTypeNameEdit,
      };
      axios
        .put("http://localhost:3000/VehicleTypes/" + this.vehicleTypeId, data)
        .then((response) => {
          console.log(response);
          this.getAllVehicleType();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteVehicleType(id) {
      axios
        .delete("http://localhost:3000/VehicleTypes/" + id)
        .then((response) => {
          console.log(response);
          this.getAllVehicleType();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    this.getAllVehicleType();
  },
};
</script>

<style scoped>
.main-div {
  padding: 15px;
  background: var(--vs-theme-layout);
  border-radius: 20px;
  margin-top: 10rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
</style>
