<template>
  <v-app>
    <!-- <v-app-bar
      app
      color="primary"
      dark
      class="d-flex justify-content-center"
    >
    <div>
    <h3 > CODING ASSIGNMENT</h3>
    </div>
    </v-app-bar> -->
    <div>
      <v-app-bar color="deep-purple accent-4" dense dark elevation="4">
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title v-if="$store.state.token" class="ml-5"
          ><router-link to="/VehicleType"
            >Vehicle Type</router-link
          ></v-toolbar-title
        >
        <v-toolbar-title v-if="$store.state.token" class="ml-5">
          <router-link to="/VehicleYearMakeModal"
            >Vehicle Year Make Model</router-link
          >
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-title class="ml-5"
          ><router-link v-if="!$store.state.token" class="nav-link" to="/SignIn"
            >Login</router-link
          ></v-toolbar-title
        >
        <v-toolbar-title class="ml-5"
          ><a
            v-if="$store.state.token"
            class="nav-link"
            @click="logout"
            to="/home"
            >Logout</a
          ></v-toolbar-title
        >
      </v-app-bar>
    </div>
    <v-main>
      <div id="app">
        <router-view />
      </div>
    </v-main>
  </v-app>
</template>

<script>
// import CodingAssignment from './components/CodingAssignment';

export default {
  name: "App",

  // components: {
  //   CodingAssignment,
  // },

  data: () => ({}),
  methods: {
    logout() {
      this.$store.commit("logout", this.token);
      this.$router.push({ name: "home", query: { redirect: "/home" } });
    },
  },
  mounted() {
    this.$store.commit("initializeStore");
  },
};
</script>
<style scoped>
header {
  height: 64px !important;
  padding-top: 10px;
}
.v-application a {
  color: #fff !important;
  text-decoration: none;
}
.main-div  {
  margin-top:10rem !important;
  width: 500px;
  margin: auto;
}
</style>
